@import "variables";

#admin-panel {

    h1 {
        font-weight: bold;
        color: $secondColorP;
        //margin-top: 4rem;
        border-bottom: 3px solid $secondColorP;
    }

    h2 {
        font-family: $bodyFamily;
        color:$primalColorD;
        font-size: 25px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.5px;
    }

    .new-post {
        margin-top: 3em;

        .add-new-post {
            margin-bottom: 1.5em;
        }
    }
}

.form-group {
    label {
        text-transform: uppercase;
        color: $primalColorD;
        line-height: 16px;
        font-weight: bold;
    }

    input, textarea {
        background: #F4F4F4;
    }

}

.upload-image-form {
    margin-top: 5.5em;
    padding: 15px 0;
    border: 1px solid #CED4DA;
    box-sizing: border-box;
    margin-left: 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
        
    .upload-label {
        font-family: $bodyFamily;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0.5px;
        color: #1C3045;
        margin-left: 15px;
        margin-bottom: 20px;
    }

    h4 {
        font-family: $bodyFamily;
        line-height: 22px;
        font-size: 18px;
        letter-spacing: 0.5px;
        color: #1C3045;
        margin-left: 15px;
    }

    /*hiding the input visually but keeping it visible for the browser
      so that it can be styled */
    

    input[type="submit"],
    input[type="file"],
    select {
        margin: 10px;
        //@include buttonStyle($secondColorP, #fff);
    }

    input[type="submit"] {
        @include buttonStyle($secondColorP, #fff);
    }




}