@import "index-page";
@import "variables";
@import "mixins";

aside{
    //Inizialise bootrap default margin
    .row, .row>div, main{
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;

        a:hover{
            color: $secondColorP;
        }

    }
    .container{
        background-color: $paleGrayB;
        // margin-top: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

        h2{
            //font-family: Open Sans;
            font-weight: bold;
            font-size: 1rem;
            color: $colorAside;
        }

        article{
            // @include toCheckStyle(pink); 
            margin-bottom: 3%;
            padding-left: 0;
            padding-right: 0;
            
            h5 {
                font-size: $textSize;
                font-weight: bold;
                color: $primalColorD;
            }
            p {
                font-size: 12px;
                letter-spacing: 0.5px;
            }


            //borders for checking
            div{
                // @include toCheckStyle(#9FF781);
            }

            nav, img, i, ul, li{
                // @include toCheckStyle(pink);
            }

            main, aside, button{
                // @include toCheckStyle(blue);
            }

            .article-images{
                padding-left: 0;
                padding-right: 0;
                height: 9rem;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .article-contents p{
                color: $secondColorP;
            }
        }


        .button-color{
            @include buttonStyle($secondColorP,#fff);
            margin: 0px; 

            &:hover{
                @include buttonStyle($primalColorD,#fff); 
                margin: 0px; 
            }
        }
    }
}

@media screen and (min-width: 768px){

    h2 {
        font-size: 1rem;
    }
 }


//md (Large devices (desktops, 992px and up))
@media screen and (min-width: 992px){
    aside{
        
        .container{
            //   @include toCheckStyle(blue);

            article{
                .article-images{
                    height: 6rem;

                }
            }
        }
    }

    //Desktop size
    @media screen and (min-width: 1024px){
        aside {
        }

    }
}