@import "variables";


#categories {
    

    h1 {
        font-size: 35px;
        font-weight: bold;
        color: $secondColorP;
        //margin-top: 4rem;
        border-bottom: 3px solid $secondColorP;
        line-height: 1.5em;
    }

    .category-list {
        box-sizing: border-box;
        margin-top: 3em;
    }
}