@import "variables";
@import "mixins";

#comments {

    margin: 3rem 0 0 0;

    h4 {
        text-align: left;
        font-family: Open Sans;
        line-height: 1rem;
        font-size: 1.1rem;
        font-weight: 600;
        margin: 0;

    }



    .comment-user {

        p {
            text-align: left;
            font-family: Open Sans;
            line-height: 1rem;
            font-size: 1.1rem;
            font-weight: 600;
            margin: 0;
            padding: 0;

        }
    }

    .comment-date {

        p {
            text-align: left;
            font-family: Open Sans;
            color: $paleGray;
            line-height: 1rem;
            font-size: 0.7rem;
            font-weight: 600;
            margin: .3rem 0;
            padding: 0;

        }
    }

    .comment-content {

        p {
            text-align: left;
            font-family: Open Sans;
            line-height: 1rem;
            font-size: 0.9rem;
            font-weight: 400;
            margin: .3rem 0;
            padding: 0;

        }
    }

    .alert {
        margin: 2rem 0 1rem 0;

    }

    .after-post {
        margin: 5rem 0;

    }


    .post-comment-btn {
        margin: 2rem 0 !important;

    }

    .comments-form {

        form {

            .post-comment-btn {

                margin: 5% 0;

                @include buttonStyle($secondColorP, #fff);

                &:hover {
                    @include buttonStyle($primalColorL, $primalColorD);

                }
            }
        }
    }
}