.comment-user{

    p {
        text-align: center;
        font-family: Open Sans;
        color: rgb(0, 0, 0);
        line-height: 1rem;
        font-size: 1.3rem;
        font-weight: 600;
        text-align: center;
    }
}

.comment-date{

    p {
        text-align: center;
        font-family: Open Sans;
        color: $paleGray;
        line-height: 1rem;
        font-size: 0.7rem;
        font-weight: 600;
        text-align: center;
    }
}


.post-comment-btn {

    margin: 5% 0;

    @include buttonStyle($secondColorP, #fff);

    &:hover{
        @include buttonStyle($primalColorL, $primalColorD); 
    }
}
