@import "variables";
//#footer{
    footer.container-fluid{
        margin-top: 50px;
        height: 25vh;
        background: linear-gradient(95.95deg, #1C3045 0%, #D7BCC8 100%);
        margin-top: 40px;
        color: linear-gradient(95.95deg, white 0%, rgb(56, 55, 55) 100%);
    }

    a.button-link{
        background-color: #1C3045;
        border: #1C3045 solid 2px;
        color: #fff;
    }

    .footer-title{
        margin-top: 20px;
        color: white;
    }

    .footer-p{
        color: white;
    }
//}