/*
  General header styling.
*/

@import "variables";

header {

   margin: 30px 0 30px 0;
   
}
#navbarTogglerDemo02 {
    margin: 30px 0px 0px 0px;
}
.nav-link {
    font-family: 'Merriweather';
    color: $primalColorD;
    font-size: 2rem;
    text-align: left;
}

.navbar-toggler {
    outline: none;
    margin: 0px;
    padding:0px;

}

.login-div {
   // border: 1px solid red;
}



.navbar-brand{
    margin: 0px;
    padding:0px;
        img {
            width: 50px;
    }
}

.navbar-toggler img {
    width: 50px;
}

/* Desktop navigation */

@media screen and (min-width: 992px){
    header {
        margin: 10px 0;
    }
    
    .nav-link {
        font-family: 'Merriweather';
        color: $primalColorD;
        font-size: 1rem;
        text-align: center;
    }

    #navbarTogglerDemo02 {
        margin: 0 0 0 0;
    }
    
    /* Login button  */
    .login-button {
        background: #1C3045;
        border-radius: 4px;
        padding: 5px 20px !important;
    }

    .login-button a {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 16px;
        letter-spacing: 0.5px;
        color: #FFFFFF;
    }

    .navbar-nav {
        margin: 0 auto;

    }

}