/*
  General header styling.
*/

header {
    padding: 40px;
    border: 1px solid red;
}

.login-div {
    border: 1px solid red;
}

.logo {
    border: 1px solid red;
    img {
        width: 50px;
    }
}
