@import "variables";

//Small gallery mobile

.gallery-hero-image {

    img {   

        width: 100%;
        height: 200px;
        object-fit: cover;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position:relative;
        z-index:-1;
        display:block;  
     
    }

}

.gallery-post-description {
    
font-family: Open Sans;
font-style: normal;
font-weight: normal;
line-height: 24px;
font-size: 0.8rem;
letter-spacing: 0.5px;
margin: 0;
padding: 0;
text-align: center;
margin-bottom: 1rem;

}

.gallery-post-title {

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    line-height: 24px;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 0.5px;
    color: $secondColorP;
    padding: 20px;
    margin-bottom: 0px;

}

.edit-remove-buttons {
    
    padding: 0;
    margin:0;
    opacity: 0.5;
    text-align: right;

    ul {
        padding: 0;
        margin: 0;
    }
}
    .edit-button a {
        color: gray;
    }
    .remove-button a {
        color: red;
    }


@media screen and (min-width: 768px) {

//Index small gallery tablet
.main-container {
    margin-top: 1rem;
    padding: 2rem;
}



.gallery-hero-image {
    

    img {   

        width: 100%;
        height: 200px;
        object-fit: cover;
        box-shadow: none;
        position:relative;
        z-index:-1;
        display:block;  
        margin-top: 0;
    
    }

}

.gallery-post-title {

    font-family: Open Sans;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 1rem;
    letter-spacing: 0.5px;
    color: #1C3045;
    margin: 0;
    padding: 10px 0 5px 0;

    }

    .gallery-post-description {
    
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        font-size: 0.8rem;
        letter-spacing: 0.5px;
        margin: 0;
        padding: 0;
        text-align: left;
        margin-bottom: 0;
        
        }
}


.read-more {

    padding: 5px 0;
    
    a {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        font-size: 16px;
        letter-spacing: 0.5px;
        text-decoration-line: underline;
        color: #A6C9C6;
        
    }
}

.edit-remove-buttons {
    
    padding: 0;
    margin-top: 0;
    opacity: 0.5;
    text-align: right;
    margin-bottom: 0.3rem;

    ul {
        padding: 0;
        margin: 0;
    }
}
    .edit-button a {
        color: gray;
    }
    .remove-button a {
        color: red;
    }


    @media screen and (min-width: 992px) {


        .gallery {
            //padding-right: 1rem;
        }
    }

