@import "variables";



//Index mobile
.hero-image {

    background: -webkit-linear-gradient(90deg, #1C3045 -1%, rgba(96, 73, 90, 0.54) 100%);

        img {   

            width: 100%;
            height: 300px;
            object-fit: cover;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            position:relative;
            z-index:-1;
            display:block;    
        }

}
// Date cirle only visile on mobile.
.date-circle {

    margin-top: -40px;
    width: 70px;
    height: 70px;
    background-color: $secondColorP;
    border-radius: 50%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    display: flex;
    
        h6 {

            text-transform: uppercase;
            color: white;
            text-align: center;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: normal;
            line-height: 20px;
            font-size: 18px;
            text-align: center;
            letter-spacing: 0.5px;
            padding: 0;
            margin: 0;  

        }

}
// This title is hidden in tablet and desktop mode.
.feature-title {

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    line-height: 24px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.5px;
    color: $secondColorP;
    margin: 0.5rem 0;


}

.post-description {
   
    padding: 0 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.5px;
    
}

//Index tablet
@media screen and (min-width: 768px) {
    
    .hero-image {

        background: -webkit-linear-gradient(90deg, #1C3045 -1%, rgba(96, 73, 90, 0.54) 100%);
        width: 100%;
        
            img {   
                
                height: 300px;
                object-fit: cover;
                //object-position: 0px -100px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                position:relative;
                z-index:-1;
                display:block;    
            }
    
    }
    
    .edit-remove-buttons {
    
      margin-top: 0;

    }
    
    .main-feature-headings{

        position: absolute;
        bottom: 10px;
        //left: 20px;
        padding-right: 20px;
        padding-left: 20px;

        h2 {
            opacity: 1;
            font-family: 'Merriweather';
            font-style: normal;
            font-weight: 900;
            //line-height: 24px;
            font-size: 25px;
            text-align: left;
            letter-spacing: 0.5px;
            color:white;
          //  background-color: $secondColorP;
        
                .bg-color {
                   background-color: $secondColorP;
                   padding: 5px;
                }
        
    }

        h6 {
            opacity: 1;
            font-family: 'Merriweather';
            font-style: normal;
            //line-height: 24px;
            font-size: 20px;
            text-align: left;
            letter-spacing: 0.5px;
            color:white;
            
        }
        
     

            .read-more-desktop {
            
                a {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    line-height: 24px;
                    font-size: 16px;
                    letter-spacing: 0.5px;
                    text-decoration-line: underline;
                    color: #A6C9C6;
                    
                }
            }

       

    }
    
}
//Index desktop
@media screen and (min-width: 992px){

    .feature-post{
       margin: 0;
       //@include toCheckStyle(pink); 
    }

    .hero-image {

        background: -webkit-linear-gradient(90deg, #1C3045 -1%, rgba(96, 73, 90, 0.54) 100%);
        width: 80%;
        float: right;
    
            img {   
    
                width: 100%;
                height: 450px;
                object-fit: cover;
                //object-position: 0px -100px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                position:relative;
                z-index:-1;
                display:block; 
                        
            }
    }

    .main-feature-headings {

        
        position: absolute;
        top: 15%;
        //left: 20px;
        padding-right: 0px;
        padding-left: 0px;
        max-width: 50%;
        //@include toCheckStyle(pink); 
        
        h2 {
            font-family: 'Merriweather';
            font-style: normal;
            font-weight: 900;
            line-height: 44px;
            font-size: 1.9rem;
            text-align: left;
            letter-spacing: 0.5px;
            color:white;
            //@include toCheckStyle(pink); 
            background-color: $secondColorP;
            padding: 0.8rem;
            border-radius: 4px;

                .bg-color {
                    background-color: none;
                    padding: 0px;
                }
        
            }

            hr {
               margin: 0;
               padding: 0;
               border: 0;
               border-top: 3px solid $secondColorP;
               width: 50%;
         }

            p {
                //margin-top: 2rem;
                margin-bottom: 0rem; 
            }

            h6{
                font-family: Open Sans;
                font-style: normal;
                font-weight: 600;
                text-decoration: none;
                font-size: 1rem;
                letter-spacing: 0.5px;
                color: $secondColorP;
                
            }

            .read-more-desktop {

                a {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: 600;
                    text-decoration: none;
                    font-size: 14px;
                    letter-spacing: 0.5px;
                    color: $secondColorP;
                    
                }
       
        }

    
    }

}

@media screen and (min-width: 1200px){

    .feature-post{
       // @include toCheckStyle(blue);
    }

    .hero-image {

        background: -webkit-linear-gradient(90deg, #1C3045 -1%, rgba(96, 73, 90, 0.54) 100%);
        width: 80%;
        float: right;
    
            img {   
    
                width: 100%;
                height: 500px;
                object-fit: cover;
                //object-position: 0px -100px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                position:relative;
                z-index:-1;
                display:block; 
                        
            }
    }

    .main-feature-headings {

        
        position: absolute;
        top: 15%;
        //left: 20px;
        padding-right: 0px;
        padding-left: 0px;
        max-width: 50%;
        //@include toCheckStyle(pink); 
        
        h2 {
            font-family: 'Merriweather';
            font-style: normal;
            font-weight: bolder;
            line-height: 60px;
            font-size: 2.6rem;
            text-align: left;
            letter-spacing: 0.5px;
            color:white;
            //@include toCheckStyle(pink); 
            background-color: $secondColorP;
            padding: 0.8rem;
            font-weight: 900;


          
                .bg-color {
                    background-color: none;
                    padding: 0px;
                }
        
            }

            hr {
               margin: 0;
               padding: 0;
               border: 0;
               border-top: 3px solid $secondColorP;
               width: 50%;
         }

            p {
                //margin-top: 2rem;
                margin-bottom: 0rem; 
            }

            h6{
                color:$secondColorP;
                //margin-bottom: 2rem;
            }

            .read-more-desktop {

                a {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: 600;
                    text-decoration: none;
                    font-size: 14px;
                    letter-spacing: 0.5px;
                    color: $secondColorP;
                    
                }
       
        }

    
    }


    
}

