//Button style
/*
*Example
    .button-color{
        @include buttonStyle($secondColorP,#fff); 

        &:hover{
            @include buttonStyle($primalColorD,#fff); 
        }
    }
*/
@mixin buttonStyle($bgColor,$tColor) {
    background-color: $bgColor;
    color: $tColor;
    line-height: 22px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

//Button style for footer
@mixin buttonStyleFooter($tColor,$bColor) {
    color: $tColor;
    line-height: 22px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    border: 0.1rem solid $bColor;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

//To check division/breakpoint etc
@mixin toCheckStyle($borderColor) {
    border: 1px dashed $borderColor;
}
