/*
   Mobile design.
*/

header {
   // justify-content: space-between;
}

.hamburger-button {
    background: transparent;
    border: none;

}
.hamburger-button a {
    color: #1c3045;
}
.hamburger-menu {
    img {
        width: 50px;
    }
}