.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 30px 30px 30px 30px;
    
}

.logo img {
    width: 40px;
   
}
/*
.container{
    margin: 0px;
    padding: 0px;
}
*/

.hamburger-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;

  }

  .hamburger-button img {
      width: 40px;
  }
  
  .hamburger-button:focus {
    outline: none;
  }
  
  .hamburger-button-bar {
    width: 100%;
    height: 0.2rem;
    background: white;
    display: block;
    margin: 0.6rem 0;
  }

/*desktop*/
.desktop-navigation {
    display: flex;
    justify-content: flex-end;
}

.desktop-navigation div {
    padding-left: 20px;
    display: none;
}


/*Mobile navigation*/
.mobile {
    position: fixed;
    top: 0;
    background: linear-gradient(95.95deg, #1C3045 0%, #D7BCC8 100% );
    opacity: 0.9;
    width: 80vw;
    height: 100vh;
    color: white;
    display: flex;

    /*display: none;*/
    transform: translateX(-100%);
    transition: transform 100ms ease-out;
}

.mobile-items {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 30vw;
    font-size: 2rem;
}

.mobile-item {
    padding: 10px 10px;
    margin-left: 10vw;

}

.mobile-item a {
    color: white;
}

.open {
    display: flex;
    transform: translateX(0);
}
