/*variabler start*/
$rubrikFamily: 'Merriweather', serif;
$bodyFamily:'Open Sans', sans-serif;
//Primal Color light
$primalColor_l: #F0F0F0;
//Primal Color dark
$primalColor_d: #1C3045;
//Second colour purple
$primalColor_d: #60495A;
/*$FontAwesome_icon: 50px;
$box_shadow: 0 0 8px 3px rgba(#000,0.3);
$box_shadow_u: 0 5px 5px -3px rgba(#000,0.3);
$box_shadow_inner:0 5px 5px -3px rgba(#19d300,1);
$text_shadow: 0px 0px 3px #000;
$margin_footer_container:0 50px 30px 50px;
$highlight_bg: linear-gradient(transparent 80%, $company_color_g 80%);
*/
#register {

    .contents {
        background: -webkit-gradient(linear, left bottom, left top, color-stop(26.6%, $primalColor_d), to($primalColor_d));
        background: -webkit-linear-gradient(bottom, $primalColor_d 26.6%, $primalColor_d 100%);
        background: -o-linear-gradient(bottom, $primalColor_d 26.6%, $primalColor_d 100%);
        background: linear-gradient(to top, $primalColor_d 26.6%, $primalColor_d 100%);
        max-width: 60%;
        margin: auto;
        
    }

    h1, p, form, samll, .button-color{
        color: #fff;
    }
    
    .button-color{
        background-color: $secondColor_p;
    }
    
}