.single-post-image{
    position: relative;
    width: 75vw;
}

.article-title{
    position: absolute;
    width: 100%;
}

h2 span{
    color: rgb(43, 39, 39);
}
h4 span{
    color: rgb(43, 38, 38);
}