/*
   Tablet and up changes goes in this file.
   Changes in this file will also be 
   applied to desktop design.
*/

/* Desktop navigation */

/* Login button  */
.login-button {
    background: #1C3045;
    border-radius: 4px;
    padding: 0px 20px;
}

.login-button a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}