/*
   Tablet and up changes goes in this file.
   Changes in this file will also be 
   applied to desktop design.
*/

/* Desktop navigation */
.desktop-menu {
    border: 1px dashed blue;
}

.desktop-menu ul {
    margin: 0;
    padding: 0;
}

.desktop-menu li a {
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-size: 12px;
    letter-spacing: 0.5px;
    margin-right: 1vw;
    color: #1C3045;
}

/* Login button  */
.login-button {
    background: #1C3045;
    border-radius: 4px;
    padding: 0px 20px;
}

.login-button a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}