/*variabler start*/
$fontFamilyHeader: 'Archivo Black', sans-serif;
$fontFamilyBody: 'Archivo', sans-serif;
$background: #000;
$mainBackColor: #4F4F4F;
$fontColor: #F2F2F2;
$fontStroke: #828282;
$fontColorHitta: #333333;
$headerBackColor: #C4C4C4




