//---- Fonts ----//
$rubrikFamily: 'Merriweather', serif;
$bodyFamily:'Open Sans', sans-serif;

//---- Colors ----//
//Primary Color light
$primalColorL: #F0F0F0;
//Primary Color dark
$primalColorD: #1C3045;
//Second colour purplefont
$secondColorP: #60495A;