#hitta{

    .container{
        height: 100vh;

        header{
            background-color: $headerBackColor;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10%;

            .fa-arrow-down{
                font-size: 2rem;
                padding: 5px;

            }

            .dryck-back{
                display: none;
            }

            .meny-back{
                display: none;
            }

        }

        main{

            .main-container{
                display: inline-block;
                margin: auto;
                padding: 3%;

            .content{

                width: 80%;
                position: relative;
                margin: auto;
                padding: 5% 0;

                h1, h3{
                    margin: 1rem;
                }

                .map{
                    height: 40vh;
                }


                    .kontakt{
                        @include flex;
                        flex-wrap: wrap;
                        margin-bottom: 1rem;
                        padding: 10%;

                        h3{
                            flex: 100%;
                        }
                        
                        h5{
                            flex: 40%;
                            margin-bottom: 0.5rem;
                            text-align: left;
                        }

                        p{
                            flex: 50%;
                            text-align: center;
                        }
            
                    }

                    .logo{
                        position: absolute;
                        bottom: 0;
                        left: 38%;

                        img{
                            width: 6rem;
                        }
                    }

                    .socialMedia{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }

                    .drink-icons{
                        display: none;
                    }

            }
        }

        }

    }

    @include limitScreenForMobile{

            .content{
                width: 80vw;
                margin: auto;

            }

    }
    
    //Tablet (min-width: 768px)
    @include tablet{

        .container{
            max-width: 90vw;

            header{


            .header-content{

                @include flex;
                width: 80%;
                height: 100%;
                margin: auto;
                align-items: center;

                .fa-arrow-down{
                    display: none;
                }
                
                .dryck-back{
                    display: inline;
                }
    
                .meny-back{
                    display: inline;
                    margin-left: auto;
                }
                
            }
        }

            main{

                .main-container{


                .content{
                    @include flex;
                    flex-flow: row wrap;

                    .map{
                        height: 300px;
                        flex:  100%;
                        order: 1;
                    }

                    .kontakt{
                        @include flex;
                        flex-wrap: wrap;
                        flex:  20%;
                        order: 3;
                        padding: 3%;
                    }
    
                    .logo{
                        height: 5rem;
                        flex: 100%;
                        order: 4;
                        position: static;
                    }
    
                    .socialMedia{
                        @include flex;
                        flex: 20%;
                        flex-wrap: wrap;
                        order: 2;
                        justify-content: center;
                        align-content:center;
                    }

                    .socialMedia >*{
                        flex: 100%;
                    }
        
                }
            }
        }


        }
    }

    //Desktop (min-width: 1024px)
    @include desktop{

        .container{
            max-width: 1024px;
            width: 90vm;
            height: 100vh;

            header{
                background-color: $mainBackColor;
            }

            main{

                .main-container{
                    padding: 2%;

                    
                    .content{
                        padding: 2%;

                        .map{
                            height: 250px;
                            flex: 0 0 50%;
                            order: 1;
                        }

                        .kontakt{
                            @include flex;
                            flex-wrap: wrap;
                            flex: 0 1 30%;
                            order: 4;
                            margin: 0 auto;
                
                        }

                        .logo{
                            flex:  100%;
                            order: 5;
                        }

                        .socialMedia{
                            order: 2;
                            justify-content: center;
                            align-content:center;
                            flex: 0 0 50%;

                            .fab, .icon-pinterest{
                                font-size: 4rem;
                              }

                        }

                        .drink-icons{
                            @include flex;
                            order: 3;
                            flex: 0 1 50%;
                            flex-wrap: wrap;    justify-content: center;
                        }

                        .drink-icons>*{
                            margin: 5%;
                        }
                        

                }
            
            }


        }
    }
    }
    
}


